<%= form_with(scope: :task, url: search_tasks_path, method: :get, local: true) do |f|%>
  <%= f.label :title_search %>
  <%= f.text_field :title %>
  <%= f.label :status_search %>
  <%= f.select :status, Task.statuses.keys, include_blank: true %>
  <%= f.submit 'Search' %>
<% end %>

<table>
  <tr>
    <th>Task</th>
    <th>内容</th>
    <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
    <th>ステータス<th>
    <th><%= link_to "優先度", tasks_path(sort_priority: "true") %></th>
    <th>ユーザー名</th>
  </tr>
  <% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.due_date %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.user.name %></td>
      <td><%= link_to '詳細', task_path(task), class: "btn btn-info" %></td>
      <% if task.user == current_user %>
        <td><%= link_to '編集', edit_task_path(task), class: "btn btn-secondary" %></td>
        <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除しても良いですか？' }, class: "btn btn-dark" %></td>
      <% else %>
      <% end %>
      </tr>
  <% end %>
</table>
<%= link_to 'Create new Task', new_task_path, class: "btn btn-primary" %>
<%= paginate @tasks %>