<h1>Tasks</h1>

<table>
  <tr>
    <th>Task</th>
    <th>内容</th>
    <th><%= link_to "終了期限", tasks_path(sort_expired: "true") %></th>
    <th>ステータス<th>
    <th><%= link_to "優先度", tasks_path(sort_priority: "true") %></th>
  </tr>
  <% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.due_date %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= link_to '詳細', task_path(task) %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td><%= link_to '削除', task_path(task), method: :delete, data: { confirm: '本当に削除しても良いですか？' }  %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Create new Task', new_task_path %>
<%= paginate @tasks %>