<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= form_with(scope: :task, url: search_tasks_path, method: :get, local: true) do |f|%>
        <%= f.label :title_search %>
        <%= f.text_field :title %>
        
        <%= f.label :status_search %>
        <%= f.select :status, Task.statuses.keys, include_blank: true %>
        
        <%= f.submit 'Search' %>
     
      <% end %>

      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <%= yield %>
  </body>
</html>
