<!DOCTYPE html>
<html>
  <head>
    <title>Manyou</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <li><%= link_to 'Tasks', tasks_path %></li>

    <% if current_user.admin? %>
      <li><%= link_to 'ユーザー一覧', admin_users_path %></li>
    <% end %>

    <% if logged_in? %>
      <li><%= link_to 'Profille', admin_user_path(current_user.id) %></li>
      <li><%= link_to 'Log out', session_path(current_user.id), method: :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_admin_user_path %></li>
      <li><%= link_to 'Log in', new_session_path %></li>
    <% end %>
  </header>

  <body>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>



      <%= yield %>
  </body>

  <footer>
    <p>作成：万葉課題</p>
  </footer>
</html>
